#board{
    width: 80vmin;
    height: 80vmin;
    margin: 10vmin;
    background-color:darksalmon;
    border-radius: 1em;
}

.field{
    width: 30%;/*30% of the parent*/
    height: 30%;
    margin-left:2.5%;/*2.5 times 4 is the 10% missing*/
    margin-top: 2.5%;
    background-color: antiquewhite;
    border-radius: 0.5em;
    float: left;
    background-image:url('img/background.svg'); 
    background-size: 300%;/*the image is made up of 3, blanc, o, and x,
    with 300% only one of this is seen*/

    
}

.x{
    background-position: -200%;
}

.o{
    background-position: -100%;
}

